/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '~antd/dist/antd.css';
html,
body {
  font-family: 'Poppins', sans-serif;
}
/* 
.site-layout .site-layout-background {
  background: #fff;
}

.space-align-container {
  display: flex;
  align-item: flex-start;
  flex-wrap: wrap;
}
.space-align-block {
  margin: 8px 4px;
  border: 1px solid #40a9ff;
  padding: 4px;
  flex: none;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
} */
/* ======================================== */

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}


.title-header {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.ant-card-actions{
  border-radius :max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px
}

.ant-menu-item-disabled {
  color: white!important;
}

.trigger {
  font-size: 21px!important;
}

.ant-menu-item {
  font-size: 16px;
}

.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
  font-size: 16px;
}

.ant-layout{
  background: linear-gradient(110deg, #2964d3 60%, #ffed4b 60%)!important;
}
/* ======================================================================================================================= */